<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523384189636-b5lmlo27s13fhd6o1qa02kujbrm25ubd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523384189636-b5lmlo27s13fhd6o1qa02kujbrm25ubd</string>
	<key>API_KEY</key>
	<string>AIzaSyBdPNlq92gc0zRL7GbkfCfxjJwNQT8d9t4</string>
	<key>GCM_SENDER_ID</key>
	<string>523384189636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aicamp.findmyfriends</string>
	<key>PROJECT_ID</key>
	<string>find-my-friends-207e5</string>
	<key>STORAGE_BUCKET</key>
	<string>find-my-friends-207e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523384189636:ios:dfd34358f773bc22eacf91</string>
</dict>
</plist>